In [1]:
import pandas as pd

In [2]:
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])
df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [3]:
def extreact_year(column):
    return column.split('-')[0]

In [4]:
df['year'] = df['yyyy-mm-dd'].apply(extreact_year)
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [5]:
def get_age(year, current_year):
    return current_year - int(year)

In [7]:
df['age'] = df['year'].apply(get_age, current_year=2020)
df

   yyyy-mm-dd  year  age
0  2000-06-27  2000   20
1  2002-09-24  2002   18
2  2005-12-20  2005   15

In [8]:
def get_introduce(age, prefix, suffix):
    return prefix + str(age) + suffix

In [9]:
df['introduce'] = df['age'].apply(get_introduce, prefix='I am ', suffix=' years old')
df

   yyyy-mm-dd  year  age          introduce
0  2000-06-27  2000   20  I am 20 years old
1  2002-09-24  2002   18  I am 18 years old
2  2005-12-20  2005   15  I am 15 years old

In [12]:
def get_introduce_2(row):
    return 'I was born in '+str(row.year)+' my age is '+str(row.age)

In [14]:
df.introduce = df.apply(get_introduce_2, axis=1)
df

   yyyy-mm-dd  year  age                        introduce
0  2000-06-27  2000   20  I was born in 2000 my age is 20
1  2002-09-24  2002   18  I was born in 2002 my age is 18
2  2005-12-20  2005   15  I was born in 2005 my age is 15