DataFrame을 만드는 3가지 방법 
1. 걍 DataFrame()를 사용함 
    장점. DataFrame클래스 하나만 알고 있음됌. 
    단점. 파라미터에 values를 넣을때 매번 해당 column 이름을 적고 : 적는 중복 행위 발생 
    
    
2. collections 모듈의 OrderedDict 모듈 사용하기    
    아래와 같이 사용함   
    ```
    friend_ordered_dict = OrderedDict(
        [
            ('name',['John','Nate']),
            ('age',[25,30]),
            ('job',['student','teacher'])
        ]
    )
    df = pd.DataFrame.from_dict(friend_ordered_dict)
    ```
3. 리스트를 받아서 from_records()안에 리스트가 있는 변수를 파라미터1, 컬럼 이름이 들어있는 변수를 파라미터2로 해서 둬도 됨. 
    장점: i)위의 2개보다 훨 더 직관적임. 
          ii)별도로 모듈을 불러올 필요가 없음
          iii) 코드가 더 짧아졌음.
          
    단점: 모르겠음. 

    '''
    friend_list = [
        ["John",20,'student'],
        ["Nate",30, 'teacher']

    ]

    column_name = ['name','age','job']

    df = pd.DataFrame.from_records(friend_list, columns = column_name)   
    df.head()   
```
참고로 from_dict(), from_records()는 생략하고 그냥 DataFrame()을 사용해도 문제 없음.

In [6]:
import pandas as pd

In [7]:
friend_dict_list = [
    {'name':'John','age':25,'job':'student'},
    {'name':'Nate','age':30,'job':'teacher'}
]
type(friend_dict_list)

list

In [8]:
df = pd.DataFrame(friend_dict_list)

In [9]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [13]:
# 기존의 위치와 순서 변경 OK,
# but header의 이름 변경 & 추가 (NO)
df = df[['age','name','job',]]
df

   age  name      job
0   25  John  student
1   30  Nate  teacher

In [15]:
from collections import OrderedDict
# 파이썬에서 지원하는 collections패키지의 ordered dictionary를 사용
# DataFrame을 생성시 키의 순서를 보장한다.

In [32]:
friend_ordered_dict = OrderedDict(
    [
        ('name',['John','Nate']),
        ('age',[25,30]),
        ('job',['student','teacher'])
    ]
)
df = pd.DataFrame.from_dict(friend_ordered_dict)

In [26]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

파이썬의 리스트를 사용해서 dataframe을 만들어 봅시다.

In [33]:
friend_list = [
    ["John",20,'student'],
    ["Nate",30, 'teacher']
    
]

column_name = ['name','age','job']

df = pd.DataFrame(friend_list, columns = column_name)
df.head()

In [65]:
# 이렇게 컬럼 header따로 하지 말고 원샷!으로! 
# 가장 바깥은 딕셔너리, 속성값들은 리스트로 묷여있음. 그리고 key값은 문자열로 해야함. 
friend_list = {
    'name' : ['John','nate'],
     'age' : [20,30],
     'job' : ['student','teacher']
}

In [66]:
df = pd.DataFrame.from_records(friend_list)
# from_records없어도 잘 실행됨.
# 더이상 from_itmes로 접근하거나 사용 할 수 없음
df

   age      job  name
0   20  student  John
1   30  teacher  nate

In [22]:
df = pd.DataFrame.from_items(friend_list)

AttributeError: type object 'DataFrame' has no attribute 'from_items'