In [4]:
import pandas as pd

In [12]:
friend_dict_list = [
    {'name':'John','age':25,'job':'student'},
    {'name':'Nate','age':30,'job':'teacher'}
]

In [13]:
df = pd.DataFrame(friend_dict_list)

In [14]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [21]:
# 기존의 위치와 순서 변경 OK,
# but header의 이름 변경 & 추가 (NO)
df = df[['age','name','job','gender']]
df

KeyError: "['gender'] not in index"

In [24]:
from collections import OrderedDict
# 파이썬에서 지원하는 collections패키지의 ordered dictionary를 사용
# DataFrame을 생성시 키의 순서를 보장한다.

In [52]:
friend_ordered_dict = OrderedDict(
    [
        ('name',['John','Nate']),
        ('age',[25,30]),
        ('job',['student','teacher'])
    ]
)
df = pd.DataFrame.from_dict(friend_ordered_dict)

In [51]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

파이썬의 리스트를 사용해서 dataframe을 만들어 봅시다.

In [32]:
friend_list = [
    ["John",20,'student'],
    ["Nate",30, 'teacher']
    
]

In [36]:
column_name = ['name','age','job']

In [38]:
df = pd.DataFrame.from_records(friend_list, columns = column_name)
df.head()

   name  age      job
0  John   20  student
1  Nate   30  teacher

In [65]:
# 이렇게 컬럼 header따로 하지 말고 원샷!으로! 
# 가장 바깥은 딕셔너리, 속성값들은 리스트로 묷여있음. 그리고 key값은 문자열로 해야함. 
friend_list = {
    'name' : ['John','nate'],
     'age' : [20,30],
     'job' : ['student','teacher']
}

In [66]:
df = pd.DataFrame.from_records(friend_list)
# 더이상 from_itmes로 접근하거나 사용 할 수 없음
df

   age      job  name
0   20  student  John
1   30  teacher  nate

In [67]:
df = pd.DataFrame.from_items(friend_list)

AttributeError: type object 'DataFrame' has no attribute 'from_items'