In [1]:
import pandas as pd

In [11]:
friend_list = [ 
                ['name',['John', 'Jenny', 'Nate']],
                ['age',[20,30,30]],
                ['job',['student', 'developer', 'teacher']] 
              ]
# df = pd.DataFrame.from_items(friend_list) 더이상 안됨 아래로 바뀜
from collections import OrderedDict
df = pd.DataFrame.from_dict(OrderedDict(friend_list))
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [12]:
df[1:3] # row 1~2까지(index범위) 선택

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher