In [1]:
import pandas as pd

In [18]:
friend = {
    'name':['John','Jenny','Nate'],
    'age':[20,30,30],
    'job':['student',None,'teacher']
}
df = pd.DataFrame(friend)

TypeError: '(slice(0, None, None), slice(None, None, None))' is an invalid key

In [30]:
df.head()

    name  age      job
0   John   20  student
1  Jenny   30     None
2   Nate   30  teacher

In [27]:
df.to_csv('friends.csv')
# to_csv는 말그대로 csv로 저장하겠다는 말임.
# 중요한건 객체.to_csv('파일명.확장자')인만큼 어떤 객체를 저장할지가 중요하다.
# 사실 파라미터안에 몇가지가 생략된것이 있음. 아래 코드 참조

In [32]:
df.to_csv('friends.csv',index=True , header =True, na_rep = '-')

df
# 만약 index,header에 각각 안나타나게 하고 싶을 경우.False를 주면된다.
# na_rep는 none의 의미를 가지고있고 만약 None값이 있으면 대신 지정한 값을넣어라.

    name  age      job
0   John   20  student
1  Jenny   30     None
2   Nate   30  teacher