In [7]:
a = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z='] 
alpha = input() 
for a_val in a: # 8번 돌아가면서 처음 a[0]에 해당하는 값을 넘겨준다.
    alpha = alpha.replace(a_val, '*')# a리스트의 값중 하나가 걸리면 별표로 퉁!
print(len(alpha))
# print(alpha)
# 출처: https://hongku.tistory.com/255 [IT에 취.하.개.]

d**